body {
  font-family: "Comic Sans MS", cursive, sans-serif	;
  min-width: 400px;
  white-space: nowrap;
  margin: 20px;
  background-color: gold;
}
#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
li{
  padding-top: 5px;
  list-style: none;
}
.chatArea{
  height: 350px;
  width: 600px;
  background-color:white;
  margin-bottom: 15px;
  overflow: scroll;
}
.hide{
  display: none;
}
#login p{
  margin: 0;
  padding-right: 5px;
  padding-top: 3px;
  float: left;
}
#chatBot p{
  margin: 0;
  padding-right: 5px;
  padding-top: 3px;
  float: left;
}