body {
  font-family: "Comic Sans MS", cursive, sans-serif	;
  min-width: 400px;
  white-space: nowrap;
  margin: 20px;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
}
#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
li{
  padding-top: 5px;
  list-style: none;
}
img{
  padding-left: 160px;
}
#header h1{
  text-align: center;
}
hr{
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  height: 3px;
  background-color: black;
  margin-bottom: 15px;
}
.messageRegion{
  /* background-color: darkslategray; */
  padding: 20px;
}
.chatArea{
  height: 350px;
  width: 600px;
  background-color:white;
  margin-bottom: 15px;
  overflow: scroll;
  word-wrap: break-word;
  white-space: initial;
}
.hide{
  display: none;
}
#chatBot p{
  margin: 0;
  padding-right: 5px;
  padding-top: 3px;
  float: left;
}
#chatTitle{
  margin-bottom: 5px;
  margin-left: 21px;
}